<div class="isthere row">
   
    {{#each there}}
        <div class="user col-xs-3">
            <img src="/pic/{{this.userAvatar}}.jpg" alt="">
            <h5>{{this.userName}}</h5>
        </div>
    {{/each}}
</div>